html {
  background-color: rgb(159, 156, 153);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background-color: rgb(224, 73, 81);
}

.starting, .countdown, .questions, .answer {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.heyloo {
  font-family: 'Frijole', cursive;
}

#current-question {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
}

#timer {
  font-family: 'Bowlby One', cursive;
  font-size: 30px;
}

.answer {
  font-size: 20px;
}

.answer1 {
  background-color: rgb(114, 49, 87);
  /*border-radius: 75%;*/
  margin: 10px;
  padding: 25px;
}

.answer2 {
  background-color: rgb(91, 121, 97);
  /*border-radius: 75%;*/
  margin: 10px;
  padding: 25px;
}

.answer3 {
  background-color: rgb(46, 77, 167);
  /*border-radius: 75%;*/
  margin: 10px;
  padding: 25px;
}

.answer4 {
  background-color: rgb(224, 73, 81);
  /*border-radius: 75%;*/
  margin: 10px;
  padding: 25px;
}

.players {
  font-size: 18px;
}
