<div class="question-holder">
  <div class="row">
    <div class="question">

    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="questions-r1">

      </div>
    </div>
    <div class="row">
      <div class="questions-r2">

      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="currentGame?.game_state == 'question' ">
  <div class="col-md-6">
    <input type="hidden" #inputPostion0 value="0">
    <i class="fa fa-paper-plane" aria-hidden="true" (click)='getStudentAnswer(inputPostion0.value)'></i>
  </div>
  <div class="col-md-6">
    <input type="hidden" #inputPostion1 value="1">
    <i class="fa fa-star" aria-hidden="true" (click)='getStudentAnswer(inputPostion1.value)'></i>
  </div>
  <div class="col-md-6">
    <input type="hidden" #inputPostion2 value="2">
    <i class="fa fa-heart" aria-hidden="true" (click)='getStudentAnswer(inputPostion2.value)'></i>
  </div>
  <div class="col-md-6">
    <input type="hidden" #inputPostion3 value="3">
    <i class="fa fa-rocket" aria-hidden="true" (click)='getStudentAnswer(inputPostion3.value)'></i>
  </div>

</div>
